*{
    margin: 0;
    padding: 0;

}
body{
    background-color: rgb(14, 14, 82);
    display: flex;
    place-items: center;
    height: 600px;
}

main{
    display: grid;
    grid-template-areas:
    'a a a b'
    'e e c c'
    'e e d d' 
    ;
   gap: 10px;
   width: 50px;
   margin: 400px ;
}

main div{
    padding: 2em;
    text-align: center;
}


.itema{
    background-color: rgb(226, 71, 14);
    grid-area: a;
    width: 400px;
    height: 100px;
    
}
.itemb{
    background-color: rgb(224, 141, 16);
    grid-area: b;
    width: 100px;
}
.itemc{
    background-color: rgb(0, 110, 255);
    grid-area: c;

}
.itemd{
    background-color: rgb(0, 110, 255);
    grid-area: d;

}

.iteme{
    background-color: rgb(58, 218, 58);
    grid-area: e;
    

}
.flex1{
    background-color: whitesmoke;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
}
